@import url('https://fonts.googleapis.com/css?family=Montserrat');
body{
    color: #36382E;
    font-family: 'Montserrat', sans-serif;
    
}

.trackWrapper{
    border-bottom:1px solid #FFC8B6;
    text-align: left;
    margin-bottom:10px;
}

.removeTrack{
    margin-right:0px;
    margin-bottom:10px;
    padding:3px;
    padding-right:5px;
    padding-left:5px;
    outline:none;
    border-width:2px;
    border-radius:3px;
    border-style:solid;
    color:#36382E;
    border-color:#F06449;
    background-color:#5BC3EB;
}

.editTrack{
    margin-left:5px;
    margin-bottom:10px;
    margin-right:20px;
    outline:none;
    border-width:2px;
    border-radius:3px;
    border-style:solid;
    padding:3px;
    padding-right:5px;
    padding-left:5px;
    color:#36382E;
    border-color:#5BC3EB;
    background-color:#5BC3EB;
}