.trackWrapper{
    border-bottom:1px solid green;
    text-align: left;
    margin-bottom:10px;
}

.removeTrack{
    margin-right:0px;
    margin-bottom:10px;
    outline:none;
    border-width:2px;
    border-radius:3px;
    border-style:solid;
    padding:0px;
    color:teal;
    border-color:red;
    background-color:transparent;
}

.editTrack{
    margin-left:5px;
    margin-bottom:10px;
    margin-right:20px;
    outline:none;
    border-width:2px;
    border-radius:3px;
    border-style:solid;
    padding:0px;
    color:green;
    border-color:green;
    background-color:transparent;
}